<!--&#123;% extends "layout.html" %&#125;-->
<!--&#123;% block body %&#125;-->
<html>
<head>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
</head>
<div class="block1">
<h1>PyMath!</h1>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0a/Python.svg/768px-Python.svg.png" style="width:100px; height=100px">
    <img src="http://web1.nbed.nb.ca/sites/ASD-W/jcs/PublishingImages/math-graphic-post.jpg" style="width:200px; height=100px">
    <div><a href="/pymath/Tetrahedron">Tetrahedron</a></div>
    <div><a href="/pymath/Hexahedron">Cube</a></div>
    <div><a href="/pymath/Octahedron">Octahedron</a></div>
    <div><a href="/pymath/Dodecahedron">Dodecahedron</a></div>
    <div><a href="/pymath/Icosahedron">Icosahedron</a></div>

</div>
</html>
<!--&#123;% endblock %&#125;-->